[Desktop Entry]
# The type of the thing this desktop file refers to (e.g. can be Link)
Type=Application
# The application name.
Name=Password King
# Tooltip comment to show in menus.
Comment=A simple password manager application
# The path (folder) in which the executable is run
Path=/opt/password_king
# The executable (can include arguments)
Exec=/opt/password_king/password_king
# The icon for the entry, use the target filesystem path.
Icon=/usr/share/icons/hicolor/scalable/apps/password_king_logo_rounded_corners.png
